/* Match the CT site */
html {
    font: 14px / 1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

body {
    margin: 8px;
    display: flex;
    flex-direction: row;

    background-color: #fff;
    color: #727272;
}

/* Don't use bullets in Nav */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0 0 14px 1em;
}
nav li {
    list-style: none;
}

a {
    color: #267CB9;
}

/* Force h1 to be big, even though it's in a <section> */
h1 {
    font-size: 2em;
}

/* Force h5 and h6 to be the same size as h4 for readability */
h4, h5, h6 {
    font-size: 1em;
}

/* Headings can be black. Drop the top margin, so we can align the top of the
 * page better. */
h1, h2, h3, h4, h5, h6 {
    color: black;
    margin-top: 0;
}

/* We use h4 in nav, and don't actually want the bottom margin */
h4 {
    margin-bottom: 0;
}

/* Fixed header at the top left */
header {
    position: fixed;
    top: 8px;
    left: 25px;
    width: 250px;
}

/* Push section right to avoid overlap */
section {
    max-width: 800px;
    margin-left: 300px;
}

/* Stack column layout on smaller screens, unfix the header */
@media (max-width: 800px) {
    section {
        margin-left: 0px;
    }
    header {
        position: unset;
    }
    body {
        flex-direction: column;
    }
}

/* Styling tables. */
table {
    font-size: 12px;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    table-layout: auto;
    margin-bottom: 14px;
}

thead {
    font-weight: bold;
    background-color: #efefef;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    vertical-align: top;
    word-break: normal;
    border-width: 1px;
}

tbody {
    text-align: left;
}

th {
    padding: 0 1em 0 1em;
    color: black;
    border-style: solid;
    border-width: 1px;
    min-width: 5em;
}

td {
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    word-break: keep-all;
}
